body {
  background-color: #8fbc8f;
}
caption {
	color:white;
}
table {
	background-color: #d0f0c0;
}
img {
	border: 3px solid darkseagreen;
	border padding: 1px;
	height: 150px;
  width: 200px;
  margin: auto;
  display: block;
}
h2 {
	color:white;
}
td {
	padding: 10px;
  border: 1px solid black;
}